@{
    ViewData["Title"] = "Home Page";
}

@if(!User.Identity.IsAuthenticated)
{
<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p1>You are not logged into an account.</p1>
  <br><br>
  <div>
      <a class="btn btn-success btn-lg" role="button"  asp-controller="User" asp-action="Register">Register</a>
  </div>
</div>
}
