@{
	ViewData["Title"] = "Home Page";
} 
	<div class="mt-4 p-5 bg-light"> 
		<h1 class="text-center display-4">Welcome Teacher</h1>
		<hr class="my-4"> 
		<p class="lead"></p>
		<a asp-area="Teacher" asp-controller="Teacher" asp-action="AllGroups" class="btn btn-primary btn-lg">See Groups</a>
</div> 
		 
			
