@using SchoolSystem.Core.Models.Student
@model IEnumerable<StudentGradesViewModel>
@{
    int count = 1;
}

<table class="table">
  <thead class="table-dark">
    <tr>
        <th>#</th>
        <th>Subject</th>
        <th>Grades</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@count</td>
                <td>@item.Subject</td>
                <td>@item.Grades</td>
            </tr>
            count++;
        }
    </tr>
  </tbody>
</table>