@{
	ViewData["Title"] = "Home Page";
} 
	<div class="mt-4 p-5 bg-light"> 
		<h1 class="text-center display-4">Welcome Student</h1>
		<hr class="my-4"> 
		<p class="lead"></p>
		<a asp-area="Student" asp-controller="Student" asp-action="GetUserName" class="btn btn-primary btn-lg">See Grades and Notes</a>
</div> 
		 
			

